.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1{
  font-size: 60px;
  font-weight: 500;
}
h2{
  font-size: 38px;
  font-weight: 500;
}
h3{
  font-size: 26px;
  font-weight: 500;
}
p{
  font-size: 16px;
  font-weight: 300;
  color: #393a39;
}
.flex{
  display: flex;
  justify-content: space-between;

 
  align-items: center;
}
.right{
  padding: 10px 20px;
}
.flex-con{
  display: flex;
}
.flex-center{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px;
}
.circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #c7bcbcee;
  background-color: #c7bcbcee;
}
.flex-style{
  background: #eee;
  padding: 40px;
  border-radius: 20px;
}
.flex-start{
  display: flex;
  gap: 20px;
}
.margin-btm{
  margin-bottom: 10px;
}
@media screen and (max-width:768px){
  .flex-con{
    flex-direction: column;
  }
  .flex-center{
    justify-content: flex-start;
  }
  .flex-style{
    padding: 20px;
  }
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 26px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
